@model BrainSystem.OS.MVC.ViewModels.OrdemServicoViewModel

 <!-- CSS para plugin Signature-->

<link href="~/assets/plugins/jquery.signaturepad/assets/jquery.signaturepad.css" rel="stylesheet" />
<link href="~/assets/plugins/jquery.signaturepad/assets/SignatureCapture.css" rel="stylesheet" />

<section id="main-content" class=" ">
    <section class="wrapper" style='margin-top:60px;display:inline-block;width:100%;padding:15px 0 0 15px;'>
        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <div class="page-title">
                Atendimento
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-lg-12">
            <section class="box">
                <header class="panel_header">
                    <h1 class="title pull-left">Dados OS</h1>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <div class="col-xs-2">Ordem servico Nr</div>
                        <div class="col-xs-2">@ViewBag.OrdemServico</div>
                        <div class="col-xs-2">Registrado em</div>
                        <div class="col-xs-2">@ViewBag.DataChamado</div>
                        <div class="col-xs-2">Protocolo chamado</div>
                        <div class="col-xs-2">@ViewBag.NroChamado</div>
                    </div>
                    <div class="row">
                        <button type="button" id="btnRetornar" class="btn btn-success btn-icon bottom15 right15 pull-right" onclick="AbrirURL('/FluxoAtendimento/Index')">
                            <i class="fa fa-arrow-circle-left"></i> &nbsp; <span>Retornar</span>
                        </button>
                    </div>
                </div>
            </section>
        </div>


       @using (Html.BeginForm("GravarAtendimento", "OrdemServico", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", id = "frmDadosFinaisOS", @class = "form-horizontal"}))
       {
        @Html.AntiForgeryToken()
            <div class="col-lg-12">
                <section class="box">
                    <header class="panel_header">
                        <h1 class="title pull-left">Responsável Cliente</h1>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xs-2">&nbsp;</div>
                            <div class="col-xs-2">&nbsp;</div>
                            <div class="col-xs-2">&nbsp;</div>
                            <div class="col-xs-2">&nbsp;</div>
                            <div class="col-xs-2">&nbsp;</div>
                            @if (@ViewBag.EstadoControles != "disabled")
                            {
                                <div class="col-xs-2">
                                    <i class='fa fa-plus-circle icon-xs icon-rounded icon-primary inviewport animated animated-delay-400ms  cadastrofuncionario button-cursor' data-vp-add-class='visible rotateIn'></i>
                                </div>  
                            }
                            
                        </div>
                       
                       
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="form-label">Contato Cadastrado</label>
                                    @if (@ViewBag.EstadoControles != "disabled")
                                    {
                                        @Html.DropDownListFor(model => model.IdFuncionario, (SelectList)ViewData["Funcionarios"], new { @class = "form-control m-bot15", @id = "cboFuncionarios", onchange = "PreencherDadosResponsavel(this.value);" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.IdFuncionario, (SelectList)ViewData["Funcionarios"], new { @class = "form-control m-bot15", @id = "cboFuncionarios", onchange = "PreencherDadosResponsavel(this.value);", @disabled="disabled" })

                                    }

                                </div>
                                <div class="col-xs-6">
                                    <label class="form-label">Nome</label>
                                    <div class="input-group primary">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" id="Nome" name="Nome" class="form-control"  readonly="readonly" value=@ViewBag.NomeFuncionario>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="form-label">Cargo</label>
                                    <div class="input-group primary">
                                        <span class="input-group-addon"><i class="fa fa-users"></i></span>
                                        <input type="text" id="Cargo" name="Cargo" class="form-control" readonly="readonly"  value=@ViewBag.CargoFuncionario>
                                    </div>

                                </div>
                                <div class="col-xs-6">
                                    <label class="form-label">RG</label>
                                    <div class="input-group primary">
                                        <span class="input-group-addon"><i class="fa fa-newspaper-o"></i></span>
                                        <input type="text" id="RG" name="RG" class="form-control"  readonly="readonly"  value=@ViewBag.RG>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="form-label">E-mail</label>
                                    <div class="input-group primary">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input type="text" id="Email" name="Email" class="form-control" readonly="readonly"  value=@ViewBag.Email>
                                    </div>

                                </div>
                                <div class="col-xs-6">
                                    <label class="form-label">Telefone</label>
                                    <div class="input-group primary">
                                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                        <input type="text" id="Telefone" name="Telefone" class="form-control" readonly="readonly"  value=@ViewBag.Telefone>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label class="form-label">Assinatura</label>
                                    @if (@ViewBag.EstadoControles != "disabled")
                                    {
                                        <div id="divSigPad">
                                            <div class="sig sigWrapper">
                                                <canvas id="xCanvas" class="pad" width="570" height="90">(Your browser doesn't support canvas)</canvas>
                                                @(Html.HiddenFor(model => model.Assinatura))
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="divSigPad">
                                            <div class="sig sigWrapper">
                                                <canvas id="xCanvas" class="pad" width="570" height="90" style="pointer-events:none">(Your browser doesn't support canvas)</canvas>
                                                @(Html.HiddenFor(model => model.Assinatura))
                                            </div>
                                        </div>


                                    }

                                </div>
                            </div>

                            <div role="dialog" tabindex="-1" id="modCadastroFuncionario" class="modal fade">

                            </div>

                        </div>
                    

                    </div>
                </section>

            </div>


            <div class="col-lg-12">
                <section class="box">
                    <header class="panel_header">
                        <h1 class="title pull-left">Período Atendimento</h1>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                        </div>
                    </header>
                    <div class="content-body">


                       
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label class="form-label">@Html.DisplayNameFor(model => model.NomeTecnico)</label>
                                            <div class="controls">
                                                <label class="form-label">@Html.DisplayFor(model => model.NomeTecnico)</label>

                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="form-label">@Html.DisplayNameFor(model => model.DataPreenchimento)</label>
                                            <div class="input-group primary">
                                                <input type="text" id="DataPreenchimento" name="DataPreenchimento" class="form-control datepicker"  @ViewBag.EstadoControles value=@Model.DataPreenchimento>
                                                @if (@ViewBag.EstadoControles != "disabled")
                                                {
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                                                }
                                                
                  
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="col-xs-3">
                                            <label class="form-label">@Html.DisplayNameFor(model => model.HoraChegada)</label>
                                            <div class="input-group primary">
                                                <input type="text" id="HoraChegada" name="HoraChegada" class="form-control timepicker" data-template="dropdown" data-show-seconds="false" data-show-meridian="false" data-minute-step="1" data-second-step="5" @ViewBag.EstadoControles value=@Model.HoraChegada>
                                                @if (@ViewBag.EstadoControles != "disabled")
                                                {
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>

                                                }
                                                
                                                
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <label class="form-label">@Html.DisplayNameFor(model => model.HoraInicio)</label>
                                            <div class="input-group primary">
                                                <input type="text" id="HoraInicio" name="HoraInicio" class="form-control timepicker" data-template="dropdown" data-show-seconds="false" data-show-meridian="false" data-minute-step="1" data-second-step="5" @ViewBag.EstadoControles value=@Model.HoraInicio>
                                                @if (@ViewBag.EstadoControles != "disabled")
                                                {
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>

                                                }
                                               
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <label class="form-label">@Html.DisplayNameFor(model => model.HoraTermino)</label>
                                            <div class="input-group primary">
                                                <input type="text" id="HoraTermino" name="HoraTermino" class="form-control timepicker" data-template="dropdown" data-show-seconds="false" data-show-meridian="false" data-minute-step="1" data-second-step="5" @ViewBag.EstadoControles value=@Model.HoraTermino>
                                                @if (@ViewBag.EstadoControles != "disabled")
                                                {
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>

                                                }
                                                
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <label class="form-label">@Html.DisplayNameFor(model => model.HoraSaida)</label>
                                            <div class="input-group primary">
                                                <input type="text" id="HoraSaida" name="HoraSaida" class="form-control timepicker" data-template="dropdown" data-show-seconds="false" data-show-meridian="false" data-minute-step="1" data-second-step="5" @ViewBag.EstadoControles value=@Model.HoraSaida>
                                                @if (@ViewBag.EstadoControles != "disabled")
                                                {
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>

                                                }
                                                

                                            </div>
                                        </div>

                                    </div>


                                    <div class="pull-right">
            
                                        <button aria-hidden="true" class="btn btn-success btn-icon bottom15 right15" type="button" onclick="AbrirURL('/OrdemServico/RetornarRelatorio')">
                                            <i class="fa fa-file-pdf-o"></i> &nbsp;<span>PDF</span>
                                        </button>
                                    </div>  
                                    <div class="pull-right">
                                        &nbsp; &nbsp; &nbsp;<input type="hidden" id="hddSepara1" />
                                    </div>

                                    <div class="pull-right">
 
                                        <button type="submit" class="btn btn-success btn-icon bottom15 right15" @ViewBag.EstadoControles>
                                            <i class="fa fa-save"></i> &nbsp; <span>Gravar</span>
                                        </button>
                                    </div>

                                </div>
                            </div>

                 
                    </div>
                </section>
            </div>

        }

    </section>
</section>


<script type="text/javascript">
function PreencherDadosResponsavel(idResponsavel) {
    $.ajax({
        dataType: "json",
        url: '@Url.Action("BuscarDadosResponsavel", "OrdemServico")',
        type: "POST",
        data: {"idResponsavel": idResponsavel },
        "success": function (data) {
            if (data != null) {
                var vdata = data;
                $("#Nome").val(vdata.Nome);
                $("#Cargo").val(vdata.Cargo);
                $("#Email").val(vdata.Email);
                $("#Telefone").val(vdata.Telefone);
                $("#RG").val(vdata.RG);
            }
        }
    });
}
</script>
